/** 
	* This stylesheet refers to the about view page.
	*/

.about-div {
	text-align: center;
}

#parent-div {
	width: 100%;
	height: auto;
	font-family: cursive;
}

#child-one-div {
	width: 450px;
	float: left;
	height: 100%;
}

#child-two-div {
	width: 450px;
	margin-left: 450px;
}

.four {
	float: left;
	font-family: cursive;
	vertical-align: top;
	width: 25%;
	margin: 0;
}
