
#main-intro {
	text-align: center;
	padding-top: 25px;
}

#sub-intro {
	margin: 0 auto;
	height: 300px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#badge-info {
	padding-left: 25px;
	text-align: right;
}

.badge-title {
	font-family: cursive;
	font-size: 16px;
}

.badge-lib-ref {
	font-family: cursive;
	font-size: 16px;
}


