<!DOCTYPE html>
<html>
  <head>
    <title>AboutKendra</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <nav class="navbar navbar-default navbar-expand-sm">
		&nbsp;
	</nav>

	<div class="container">
		<div class="jumbotron">	

				<div class="wrapper">
					<div class="first">
						<h1>Kendra Kuivenhoven</h1>
						<p>kendrakvnhvn10@gmail.com</p>
						<div class="panel-group">
							<div class="panel panel-primary">
								<h5>Active projects:</h5>
								<div class="panel-body">
									Skate-Spot (web app)<br>
									<p style="font-size: 13px;">Providing users a way to document and rate street skating spots via a web app. The framework used is Ruby on Rails, and the Skate-App pinned GitHub repo holds the project code here: <a href="https://github.com/kkuivenhoven/mobile_skateApp">Skate-Spot web (repo)</a>. The web app is hosted <a href="https://www.skateapp4all.org">here</a>.</p-small>
								</div>
							</div>

							<div class="panel panel-primary">
								<div class="panel-body">
									Skate-Spot (mobile app)<br>
									<p style="font-size: 13px;">Limited mobile app version of the existing web app. React Native is the framework used; existing code is located at the mobile_skateApp pinned GitHub repo, here: <a href="https://github.com/kkuivenhoven/Skate-App">Skate-Spot mobile (repo)</a>.</p-small>
								</div>
							</div>
						</div>
					</div>
					
					<div class="second">
						<img src="http://i64.tinypic.com/33o3z1t.jpg" alt="http://i64.tinypic.com/33o3z1t.jpg" class="img-thumbnail" style="position: absolute; width: 25%; left: 526px;">
						<!--img src="http://i65.tinypic.com/2w21usw.jpg" alt="http://i65.tinypic.com/2w21usw.jpg" class="img-thumbnail" style="position: absolute; width: 25%;"-->
					</div>
				</div>

		</div>
	</div>

  <body>
    <%= yield %>
  </body>

	<div class="footer navbar-fixed-bottom">
	</div>

</html>
