<!DOCTYPE html>
<html>
  <head>
    <title>AboutKendra</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <nav class="navbar navbar-default navbar-expand-sm">
		&nbsp;
	</nav>

	<div class="container">
		<div class="jumbotron">	

				<div class="wrapper">
							<!--img src="http://i64.tinypic.com/33o3z1t.jpg" alt="http://i64.tinypic.com/33o3z1t.jpg" class="img-thumbnail" style="position: absolute; width: 25%; left: 526px;" align="right"-->
					<div class="first">
						<h1>Kendra Kuivenhoven</h1>
						<p>kendrakvnhvn10@gmail.com</p>
							<div class="panel panel-primary">
								<div class="panel-body">
						<img width="50%"height="auto" src="http://i64.tinypic.com/33o3z1t.jpg" alt="http://i64.tinypic.com/33o3z1t.jpg" class="img-thumbnail" style="-webkit-transform: scaleX(-1); transform: scaleX(-1);"></img>
								</div>
							</div>

						</div>
						<div class="panel-group">
							<div class="panel panel-primary">
								<h5>Active projects:</h5>
								<div class="panel-body">
									Skate-Spot (web app)<br>
									<p style="font-size: 13px;">Providing users a way to document and rate street skating spots via a web app. The framework used is Ruby on Rails, and the Skate-App pinned GitHub repo holds the project code here: <a href="https://github.com/kkuivenhoven/Skate-App">Skate-Spot web (repo)</a>. The web app is hosted <a href="https://www.skateapp4all.org">here</a>.</p-small>
								</div>
							</div>

							<div class="panel panel-primary">
								<div class="panel-body">
									Skate-Spot (mobile app)<br>
									<p style="font-size: 13px;">Limited mobile app version of the existing web app. React Native is the framework used; existing code is located at the mobile_skateApp pinned GitHub repo, here: <a href="https://github.com/kkuivenhoven/mobile_skateApp">Skate-Spot mobile (repo)</a>.</p-small>
								</div>
							</div>

							<div class="panel panel-primary">
								<div class="panel-body">
									Biblical Numerology (web app)<br>
									<p style="font-size: 13px;">Providing anyone the ability to lookup any Biblical verse complete with numerological interpretations. Users may view charts as well depciting Biblical data from different perspectives to increase spiritual growth. Existing code is located here: <a href="https://github.com/kkuivenhoven/BibleNumerology">Biblical Numeroloy web (repo)</a>. The web app is hosted <a href="https://biblenumerology.herokuapp.com">here</a>.</p-small>
								</div>
							</div>

							<div class="panel panel-primary">
								<div class="panel-body">
									Herb Data (web app)<br>
									<p style="font-size: 13px;">This site is for any herb enthusiast that wishes to learn more about the antioxidant levels of the herbs that are available in the data set. From explanations as to what was measured to the average and standard deviations of each measurement type, the user has a plethora of vital information for better selecting herbs high in antioxidants. <a href="https://github.com/kkuivenhoven/SetsOfData">Herb Data web (repo)</a>. The web app is hosted <a href="https://setsofdata.herokuapp.com">here</a>.</p-small>
								</div>
							</div>

					</div>
					
					<div class="second">
						<div class="panel-group">
							<div class="panel panel-primary">
								<div class="panel-body">
								</div>
							</div>
						</div>

					</div>
				</div>

		</div>
	</div>

  <body>
    <%= yield %>
  </body>

	<div class="footer navbar-fixed-bottom">
	</div>

</html>
