<!DOCTYPE html>
<html>
  <head>
    <title>About Kendra</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <nav class="navbar navbar-default navbar-expand-sm">
		&nbsp;
	</nav>

<body>
	<div class="container">
		<br>
		<div class="jumbotron">	

				<div class="wrapper">
							<!--img src="http://i64.tinypic.com/33o3z1t.jpg" alt="http://i64.tinypic.com/33o3z1t.jpg" class="img-thumbnail" style="position: absolute; width: 25%; left: 526px;" align="right"-->
					<div class="first">
						<h1>Kendra Kuivenhoven</h1>
						<span style="font-size: 16px;">
							<p-small>
								<br>kendrakvnhvn10@gmail.com<br><br>
								<!--&nbsp;&nbsp;CSU Chico '18<br>
								&nbsp;&nbsp;Computer Science, Mathematics, Statistics<br>-->
									Hello, my name is Kendra. I am interested in a technical position: software development (front end and/or back end) or a quality assurance analyst position. My portfolio lies below this verbiage. I frequently web develop in my spare time. Sometimes, I mobile develop as well. The picture on the right is me doing a shuvit. Welcome and enjoy!
							</p-small>
						</span>

						</div>
						<div class="panel-group">
							<div class="panel panel-primary">
								<div class="panel-body">
									<!--img width="50%"height="auto" src="http://i64.tinypic.com/33o3z1t.jpg" alt="http://i64.tinypic.com/33o3z1t.jpg" class="img-thumbnail" style="-webkit-transform: scaleX(-1); transform: scaleX(-1);"></img-->
									<img width="50%"height="auto" src="http://i68.tinypic.com/21sfpt.jpg" alt="http://i68.tinypic.com/21sfpt.jpg" class="img-thumbnail" style=""></img>
								</div>
							</div>
							<div class="panel panel-primary">
								<h4>Active projects:</h4>
								<div class="panel-body">

                  <b style="font-size: 18px;">Word Recurrence (web app)</b><br>
                  <p style="font-size: 15px;">
										Providing users a service such that a user may search for a significant word in the book of Proverbs and learn interesting statistical information about that word, the Oxford Dictionary definition and the number of recurrences of that particular word. The existing code is here: <a href="https://github.com/kkuivenhoven/WordRecurrence">Word Recurrence web (repo)</a>. The web app is hosted <a href="https://bookofproverbs.herokuapp.com">here</a>.
										<br>
									</p-small>
                  <p-small style="font-size: 12px; margin-top: 0px;">
                    <i>Technologies used:
                    <ul style="font-size: 12px;">
											<li>Ruby on Rails</li>
                      <li>Ruby</li>
                      <li>Pearson Dictionary API</li>
                      <li>Oxford Dictionary API</li>
                      <li>ZingCharts API</li>
                      <li>Javascript</li>
                      <li>RSpec</li>
                      <li>JSON</li>
                      <li>CSV</li>
                      <li>Bootstrap</li>
                      <li>HTML</li>
                      <li>CSS</li>
                    </ul> 
                    </i>
                  </p-small>

								</div>
							</div>

							<div class="panel panel-primary">
								<div class="panel-body">

                  <b style="font-size: 18px;">Skate Spot (web app)</b><br>
                  <p-small style="font-size: 15px;">
                    Providing users a way to document and rate street skating spots via a web app. The framework used is Ruby on Rails, and the Skate-App pinned GitHub repo holds the project code here: <a href="https://github.com/kkuivenhoven/Skate-App">Skate Spot web (repo)</a>. The web app is hosted <a href="https://www.skateapp4all.org">here</a>.
                    <br>
                  </p-small>
                  <p-small style="font-size: 12px;">
                    <i>Technologies used:
                    <ul style="font-size: 12px;">
                      <li>Ruby on Rails</li>
                      <li>Ruby</li>
                      <li>Javascript</li>
                      <li>Google Maps API</li>
                      <li>Bootstrap</li>
                      <li>HTML</li>
                      <li>CSS</li>
                    </ul> 
                    </i>
                  </p-small>


								</div>
							</div>


							<div class="panel panel-primary">
								<div class="panel-body">
									<b style="font-size: 18px;">Biblical Numerology (web app)</b><br>
									<p style="font-size: 15px;">
										Providing anyone the ability to lookup any Biblical verse complete with numerological interpretations. Users may view charts as well depicting Biblical data from different perspectives to increase spiritual growth. Existing code is located here: <a href="https://github.com/kkuivenhoven/BibleNumerology">Biblical Numeroloy web (repo)</a>. The web app is hosted <a href="https://biblenumerology.herokuapp.com">here</a>.
                    <br>
									</p-small>
									<p-small style="font-size: 12px;">
										<i>Technologies used:
										<ul style="font-size: 12px; margin-top: 0px;">
											<li>Ruby on Rails</li>
											<li>Ruby</li>
											<li>D3.js API</li>
											<li>Bible Gateway API</li>
											<li>JSON</li>
                      <li>CSV</li>
											<li>Bootstrap</li>
											<li>HTML</li>
											<li>CSS</li>
										</ul>	
										</i>
									</p-small>
								</div>
							</div>



              <div class="panel panel-primary">
                <div class="panel-body">

                  <b style="font-size: 18px;">Many Color Schemes (web app)</b><br>
                  <p style="font-size: 15px;">
                    A web app designed to help out the aspiring artist with a variety of 3-color and 5-color color schemes complete with hexidecimal color code: <a href="https://github.com/kkuivenhoven/HerbData">Many Color Schemes web (repo)</a>. The web app is hosted <a href="http://manycolorschemes.herokuapp.com">here</a>.
                    <br>
                  </p-small>

                  <p-small style="font-size: 12px;">
                    <i>Technologies used:
                    <ul style="padding-left: 40px; font-size: 12px;">
                      <li>Ruby on Rails</li>
                      <li>Ruby</li>
                      <li>D3.js API</li>
                      <li>Bootstrap</li>
                      <li>HTML</li>
                      <li>CSS</li>
                    </ul>
                    </i>
                  </p-small>


                </div>
              </div>


              <div class="panel panel-primary">
                <div class="panel-body">

                  <b style="font-size: 18px;">Many Color Schemes (web app)</b><br>
                  <p style="font-size: 15px;">
                    A web app designed to help out the aspiring artist with a variety of 3-color color schemes complete with hexidecimal color code: <a href="https://github.com/kkuivenhoven/HerbData">Many Color Schemes web (repo)</a>. The web app is hosted <a href="http://manycolorschemes.herokuapp.com">here</a>.
                    <br>
                  </p-small>

                  <p-small style="font-size: 12px;">
                    <i>Technologies used:
                    <ul style="padding-left: 40px; font-size: 12px;">
                      <li>Ruby on Rails</li>
                      <li>Ruby</li>
                      <li>D3.js API</li>
                      <li>Bootstrap</li>
                      <li>HTML</li>
                      <li>CSS</li>
                    </ul>
                    </i>
                  </p-small>


                </div>
              </div>


              <div class="panel panel-primary">
                <div class="panel-body">
                  <b style="font-size: 18px;">Skate-Spot (mobile app)</b><br>
                  <p style="font-size: 15px;">
                    Limited mobile app version of the existing web app. Thus far, users may sign up or login to the mobile app. They also may add a skate spot by address or GPS location. React-Native is the framework used. The existing code is located at the mobile_skateApp pinned GitHub repo, here: <a href="https://github.com/kkuivenhoven/mobile_skateApp">Skate-Spot mobile (repo)</a>.
										<br>
                  </p-small>

                  <p-small style="font-size: 12px;">

                    <i>Technologies used:
                      <ul style="padding-left: 40px; font-size: 12px;">
                        <li>React-Native</li>
                        <li>Javascript</li>
                      </ul> 
                    </i>

                  </p-small>
                </div>
              </div>

					</div>
					
					<div class="second">
						<div class="panel-group">
							<div class="panel panel-primary">
								<div class="panel-body">
								</div>
							</div>
						</div>

					</div>
				</div>

		</div>
		<br>
	</div>

  <!--body>
    %= yield %>
  </body-->
</body>

<br>
	<div class="footer navbar-fixed-bottom">
	</div>

</html>
